.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  /* border: 1px solid grey; */
  max-width: 350px;
  font-family: "Space Mono", monospace;
}

#inputField {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  text-align: center;
  background-color: #e0e5ee;
  color: grey;
  font-family: "Space Mono", monospace;
  font-size: 15px;
}

img {
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#addBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #ce6278;
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 15px;
}

#addBtn:hover {
  background-color: #b15164;
  cursor: pointer;
}

ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

li {
  text-transform: capitalize;
  list-style: none;
  background-color: #fffdf8;
  border: none;
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

li:hover {
  background-color: #ffecc7;
  cursor: pointer;
}
